* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Tourney&display=swap");

svg {
	font-family: "Tourney", sans-serif;
	width: 100%; height: 100%;
}
svg text {
	animation: stroke 2s infinite alternate;
	stroke-width: 2;
	stroke: #00FFFF;
	font-size: 100px;
}
@keyframes stroke {
	0%   {
		fill: rgba(0,153,155,0); stroke: rgba(0,255,255,1);
		stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
	}
	70%  {fill: rgba(0,153,155,0); stroke: rgba(0,255,255,1); }
	80%  {fill: rgba(0,153,155,0); stroke: rgba(0,255,255,1); stroke-width: 3; }
	100% {
		fill: rgba(0,153,155,1); stroke: rgba(0,255,255,0);
		stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
	}
}

.wrapper {background-color: transparent};
